/*-----------------------------------------------------------------------------------*/
/*
	Contents
/*-----------------------------------------------------------------------------------*/
/*
	- External
	- Global
	- Typography
	- Helpers
	- Body
	- Media Queries
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  External
/*
/*  Import external libraries
/*-----------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  Typography
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  Helpers
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  Global
/*-----------------------------------------------------------------------------------*/
.black {
  color: #000000;
}
.black-bg {
  background-color: #000000;
}
.scarlet {
  color: #ff1a00;
}
.redwine {
  color: #53121c;
}
/*-----------------------------------------------------------------------------------*/
/*  Body
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  Global
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  Media Queries
/*-----------------------------------------------------------------------------------*/
