/*-----------------------------------------------------------------------------------*/
/*  Global
/*-----------------------------------------------------------------------------------*/
@import "_global.less";

.black{color:@black;}
.black-bg{background-color:@black;}
.scarlet{color:@scarlet;}
.redwine{color:@redwine;}
.blue{color:@blue;}
.blue-bg{background-color:@blue;}

.page-title{font-size:48px;line-height:122px;}
.title-nav{height:122px;}